<div class="d-flex flex-column justify-content-center mt-3">
    <div class="card-header text-center">
      <h1><%= @inventory.name %> </h1>
    </div>
  </div>
  <%= render template: "inventory_food/index"  %>
</div>
